.bodyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteMachine {
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  width: 450px;
  text-align: center;
  background-color: white;
}

.text, .author {
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  font-size: 1.25em;
  margin: 0;
}

.author {
  text-align: right;
  font-size: 1.02em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.left-button,
.right-button {
  font-family: "Raleway", sans-serif;
}

.left-button {
  width: 40px;
  height: 38px;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.right-button {
  width: 90px;
  height: 38px;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.left-button:hover, .right-button:hover {
  filter: brightness(1.17);
}
